@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: #ffffff;
  background: #0f0f0f;
}
.buttonGrade {
  color: #0f0f0f;
  --bg: #e9ff1a;
  --hover-bg: #ff90e8;
  --hover-text: #000;

  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 8px;
  padding: 0.2em 2em;

  background: var(--bg);
  transition: 0.2s;
}

.buttonGrade:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.buttonGrade:active {
  transform: translate(0);
  box-shadow: none;
}

.tooltip {
  cursor: pointer;

  position: relative;

  width: auto;
}

.tooltip-delete {
  position: absolute;
  cursor: pointer;
}

.button.tooltip span,
div.tooltip-delete span {
  position: absolute;
  text-align: center;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
}
.button.tooltip span:after,
div.tooltip-delete span:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.button:hover.tooltip span,
div:hover.tooltip-delete span {
  visibility: visible;
  opacity: 0.9;
  top: 30px;
  left: 0;
  z-index: 999;
}

.modal {
  background: #0f0f0f;
  width: 678px;
}

.modal button {
  width: 300px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 900px) {
  .tooltip p {
    display: none;
  }

  .modal {
    width: 90%;
  }
  .modal button {
    width: 150px;
  }
}
